<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iChat - Chat with your friends seamlessly!!!</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script defer src="/socket.io/socket.io.min.js"></script>
    <script defer src="/static/js/client.js"></script>
</head>
<body>
    {{{body}}}

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>